
<div class="page-wrapper">
  <div class="album-container">

      <div class="card" *ngFor="let bild of bilder; let i = index">
        <div class="card-image" [ngStyle]="{'background-image': 'url(' + bild.url + ')'}"></div>
        <div class="card-overlay">
          <button class="delete-button" (click)="deletePicture(bild.id, i)">
            <i class="fa-solid fa-trash"></i>
          </button>
        </div>
      </div>


  <div class="sidebar">
    <div class="user-info">
      <div class="welcome-card" (click)="login()" *ngIf="!isLoggedIn">
        <p class="login-hint">Logge dich ein</p>
      </div>


      <div class="welcome-card" *ngIf="isLoggedIn">
        <p>
          Willkommen,<br><strong>{{ username }}</strong>
        </p>
      </div>
      <div class="button-layout">
        <div class="back-button">
        <button (click)="back()" title="Logout" class="icon-btn"><i class="fa-solid fa-arrow-left"></i></button>
      </div>
      <div class="icon-buttons">
        <button  *ngIf="isLoggedIn" (click)="logout()" title="Logout" class="icon-btn"><i class="fas fa-sign-out-alt"></i></button>
      </div>
    </div>
    </div>

    <div class="spacer"></div>
    <button class="delete-album-button" (click)="confirmDeleteVisible = true">Album Löschen</button>
    <button class="new-album-btn" (click)="popupVisible = true">Bild hinzufügen</button>
    <div class="popup-backdrop" *ngIf="confirmDeleteVisible" (click)="confirmDeleteVisible = false"></div>

    <div class="popup confirm-delete" *ngIf="confirmDeleteVisible" (click)="$event.stopPropagation()">
      <h3>Album löschen</h3>
      <p>Sind Sie sicher, dass Sie dieses Album löschen möchten?</p>
      <div class="button-row">
        <button (click)="confirmDeleteVisible = false">Nein</button>
        <button (click)="deleteAlbum()">Ja</button>
      </div>
    </div>

    <app-add-album-picture
      *ngIf="popupVisible"
      [albumId]="albumId"
      (close)="popupVisible = false"
      (create)="addPicture($event)">
    </app-add-album-picture>


  </div>
</div>
